
/* Estilos generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}


.seccion-oscura {
    background-color: #1B1B32;
    color: white;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
}

.seccion-texto {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    background-color: #272769;
    border: 1px solid #272769;
    border-radius: 15px;
}

.btn-info:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.btn-info a {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
}


.texto-negro {
    color: black;;
}

.texto-blanco {
    color: white;
}



/* NAVBAR */

.navbar {
    padding: 2rem;
    background-color: #F5F6F7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.menu-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

.menu-link:hover {
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.2rem;
}


/* HERO */

.hero {
    background-color: #F5F6F7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
    font-family: 'Raleway', sans-serif;
}

.hero-pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

/* ABOUT ME */

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/* EXPERIENCIA */

.experiencia {
    padding: 40px 40px 60px 40px;
}


.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #0a0a23;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}


.exp-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor { 
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* PROYECTOS */

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding: 60px;
    margin-bottom: 40px;
}

.overlay { 
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

.texto-proyecto {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

/* ARTICULOS */

.articulos {
    min-height: 500px;
    padding: 30px;
}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header {
    font-weight: bold;
}

/* TESTIMONIOS */

.testimonios {
    padding: 40px 40px 80px 40px;

}

.testimonios .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.testimonio-img {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.testimonio-info {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.testimonio-info p {
    margin-bottom: 0;
}

.testimonio-info .cliente {
    font-size: 1.2rem;
}

.testimonio-info .cargo {
    font-size: 0.9rem;
    color: #626060;
}

/* CONTACTO */

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

.contacto button {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: #fff;
    color: black;
}

.contacto button:hover i {
    color: black;
}

/* FOOTER */

footer {
    min-height: 500px;

}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: #fff;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.copy {
    font-size: 15px;
    font-style: italic;
    padding: 20px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-img {
        max-width: 600px;
    }
}
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .testimonio-img {
        height: 120px;
        width: 120px;
    }

    .testimonio-texto {
        font-size: 18px;

    }
}